<div class="aux <%= product %>">
  <% if(factor==1){ %>
    <% for(var i=0; i < (greetings.length)/2; i++) { %> 
        <% if(i%2==0){ %>
            <%- include('greeting', {greeting: greetings[i], height:  500, width: 500, className: 'grey', number: i+1}); %> 
          <% } else{ %>  
            <%- include('greeting', {greeting: greetings[i], height:  500, width: 500, className: 'black', number: i+1}); %> 
         <% } %>
      <% } %>
    <% } %>
    <% if(factor==2){ %>
        <% for(var i=(greetings.length)/2; i < greetings.length; i++) { %> 
            <% if(i%2==0){ %>
                <%- include('greeting', {greeting: greetings[i], height:  500, width: 500, className: 'grey', number: i+1}); %> 
              <% } else{ %>  
                <%- include('greeting', {greeting: greetings[i], height:  500, width: 500, className: 'black', number: i+1}); %> 
            <% } %>
        <% } %>
    <% } %>
</div>
