<div class="Greeting <%= className %>" style="width: <%= width %>px; height: <%= height %>px;">
  <div class="Header"><%= greeting.Header_text %></div>
  <div class="Message"><%= greeting.Message_text %></div>
  <div class="Photography"><img src="<%= greeting.User_signer_image_url %>" alt="gteeting_img"></div>
  <div class="Signature"><%= greeting.Signature_text %></div>
</div>
